body {
  background-color: black;
}

.custom-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.custom-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.overview {
  width: 100%;
  position: absolute;
  bottom: -200%;
  left: 0;
  background-color: white;
  padding: 10px;
  transition: 300ms;
  color: black;
  height: 100%;
  overflow-y: auto;
}

.custom-card:hover .overview {
  bottom: 0;
}

.input-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  width: 600px;
  max-width: 95%;
  background: #222;
  border-radius: 30px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  padding: 12px 18px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
}

.custom-card img {
  width: 100%;
  transition: 0.3s;
}

.custom-card:hover img {
  transform: scale(1.1);
}
